/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration: none;
}

img{
	max-width: 100%;
	height: auto;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}



/*css resset end*/

/*------------navbar-------------*/

/*------------footer-------------*/

/*------------KV-------------*/
.KV{
	margin-top: 80px;
	position: relative;
}

.kv-img{
	background-image: url(../IMG/Banner/KV_1440.png);
    width: 100%;
    height: 800px; 
    background-position:  top center; 
    background-size: cover; 
    background-repeat: no-repeat; 
    overflow: hidden;
}

@media (max-width: 1439px) {
    .kv-img {
		height: auto; 
		padding-bottom: 56.25%;
		background-size: cover; 
        background-position: center; 
    }

@media (max-width: 767px) {
	.KV{
		margin-top: 56px;
	}

	.kv-img{
		background-image: url(../IMG/Banner/KV_360.png);
	}
}
}


.slogan{
    max-width: 1200px;
    padding: 64px 240px;
    margin:  0 auto;
}
@media (max-width: 1023px) {
    .slogan{
        padding: 64px 120px;
    }
}
@media (max-width: 767px) {
    .slogan{
        padding: 32px 40px;
    }
}



/*-------- 卡片樣式 ---------- */

.Join-Card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 40px 80px;
    clip-path: polygon(
    0 0, 
    calc(100% - 32px) 0,
    100% 32px, 
    100% 100%, 
    0 100%, 
    0 0
);
}

.Join-container{
    width: 1440px;
	padding: 0px 120px;
	margin: 0 auto;
    height: auto;
    position: absolute;
    top: 620px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.BgSpace {
    width: 100%;
    padding: 24px;
    height: calc(200px + 10vw);
    background-color: #ECECED;
    position: relative;
}

.BgSpace::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../IMG/BG_Element/JoinUs_BG.png);
    background-size: cover;
    background-position: center bottom;
	background-repeat: no-repeat;
    z-index: 0; 
}

.StyleElement{
    position: relative;
    padding-right: 16px;
    padding-bottom: 16px;
    clip-path: polygon(
        0 0, 
        calc(100% - 60px) 0, 
        100% 60px, 
        100% calc(100% - 70px), 
        calc(100% - 70px) 100%, 
        60px 100%, 
        0 calc(100% - 60px)
    );
    box-sizing: border-box;
    filter: drop-shadow(8px 8px 10px rgba(0, 0, 0, 0.25));
}

.StyleElement::before,
.StyleElement::after {
    content: '';
    position: absolute;
    pointer-events: none;
}
/* 右線段 */
.StyleElement::before {
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to bottom, #ffffff00 10%, #ffffff 70%); 
}

/* 左線段 */
.StyleElement::after {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px; 
    background: linear-gradient(to right, #ffffff00 10%, #ffffff 60%); 
}


.CardStyle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F8F8F8;
    padding: 48px 80px;
    clip-path: polygon(
        0 0, 
        calc(100% - 60px) 0, 
        100% 60px, 
        100% calc(100% - 60px), 
        calc(100% - 60px) 100%, 
        60px 100%, 
        0 calc(100% - 60px)
    );
}

.CardElement{
    position: absolute;
    width: 74px;
    height: 74px;
    bottom: 0;
    right: 0;
}

.result-space{
    padding: 80px 180px;
}

@media (max-width: 1439px) {
    .result-space{
        padding: 40px 160px;
    }
    
}
@media (max-width: 1023px) {
    .CardStyle{
        padding: 48px 40px;
    }
}

@media (max-width: 767px) {
    .StyleElement::before{
        width: 2px;
    }

    .StyleElement::after{
        height: 2px;
    }

    .StyleElement{ 
        padding-right:8px ;
        padding-bottom:8px ;
        clip-path: polygon(
        0 0, 
        calc(100% - 24px) 0, 
        100% 24px, 
        100% calc(100% - 24px), 
        calc(100% - 24px) 100%, 
        24px 100%, 
        0 calc(100% - 24px)
    );
    }

    .CardStyle{
        padding: 24px 16px;
        clip-path: polygon(
        0 0, 
        calc(100% - 24px) 0,
        100% 24px, 
        100% calc(100% - 24px), 
        calc(100% - 24px) 100%, 
        24px 100%,
        0 calc(100% - 24px)
    );
    }

    .CardElement{
        width: 27px;
        height: 27px;
    }
}

.yuanta-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-bottom: 40px;
}

.cta-line{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map-link{
    display: flex;
    align-items: center;
}

.map-outline{
    transition: transform 0.3s ease;
}

.map-outline:hover{
    transform: translateY(-10px) scale(1.4);
}


.address-item{
    display: flex;
    gap: 8px;
}

.open-map{
    width: 24px;
    height: 24px;
}

.address-text{
    color: #737373;
}

.detail{
    display: flex;
    flex-direction: column;
    gap: 20px;
}




.date-line{
    width: 100%;
	display: flex;
	align-items: stretch;
	gap: 16px;
}

.date{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	background-color: #F3F6FA;
	padding: 24px 10px;
	gap: 4px;
}
.date h3{
	font-size: 20px;
	color: #FF5342;
}

.goright{
	height: 13px;
	align-self: center;
}

@media (min-width: 1920px) {

	.Join-container{
		top:calc(360px + 14vw)
	}
	.BgSpace{
		height: calc(200px + 10vw);
	}
}

@media (max-width: 1439px) {
	
	.BgSpace{
		height: calc(400px - 6vw); 
		min-height: 240px; 
		max-height: 600px; 
	}
	
	.Join-container{
        width: 100%;
		top: 42vw;
		padding: 0 32px;
	
	}

	.Join-Content{
		gap: 24px;
	}
}

@media (max-width: 1023px) {
    .date-line{
		flex-direction: column;
	}

    .date p{
		font-size: 18px;
	}

    .date p br{
		display: none;
	}

    .goright{
		width: 13px;
		height: 19px;
		rotate: 90deg;
		margin: 0 auto;
	}

    .BgSpace{
		height: calc(820px - 8vw); 
		min-height:440px; 
		max-height: 900px; 
	}

    .Join-Card .Title{
        font-size: clamp(20px, 5vw, 40px);
    }

}

@media (max-width: 767px) {

    .Join-container{
		padding: 0 24px;
		top: 50vw;
	}

    .BgSpace{
		height: calc(720px - 8vw); 
		min-height:440px; 
		max-height: 900px; 
	}

    .Join-Card{
		padding: 32px 16px;
		clip-path: polygon(
        0 0, 
        calc(100% - 32px) 0,
        100% 32px, 
        100% 100%, 
        0 100%, 
        0 0
    );
	}

    .address-text{
        font-size: 14px;
    }

    .cta-line{
        width: 100%;
    }
    .date-line{
        gap: 4px;
    }

    .yuanta-info{
        gap: 4px;
        margin-bottom: 24px;
    }

    .open-map{
        width: 20px;
        margin-top: 4px;
    }

}


/* 填寫資料區 */

.caption{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
}
/* Input */

label{
    font-weight: 600;
}


.form-block{
    width: 100%;
    padding: 40px 120px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.input-container {
    margin-bottom: 20px;
    display: inline-block; 
    white-space: nowrap; 
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ffffff00;
    font-size: 18px;
    background-color: #F0F0F0;
}

input:focus {
    outline: none;
    border-color: #0053AC;
}

.input-container.invalid input {
    border: 1px solid red; 
}

.input-container .error-message {
    color: red;
    font-size: 16px;
    margin-top: 4px;
    display: none; 
}

.input-container.invalid .error-message {
    display: block;
}

@media (max-width: 1023px) {

    .form-block{ 
        padding: 48px 40px;
    }
}

@media (max-width: 767px) {
    .form-block{
        padding: 24px 16px;
    }

    .caption{
        margin-bottom: 16px;
    }
}

/* ToggleToken */

.radio-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.radio-container {
    display: flex;
    align-items: center;
}

.radio-input {
    display: none; 
}

.radio-option{
display: flex;
flex-direction: row;
gap: 8px;
flex-wrap: wrap;
}

.radio-label {
    cursor: pointer;
    padding: 8px 16px;
    background-color: #F6F7FA;
    transition: background-color 0.3s, color 0.3s;
    color: #737373;
}

.radio-input:checked + .radio-label {
    background-color: #1C4EB0;
    color: white;
    border-color: #1C4EB0;
}




/* 確認送出 */
.next{
    font-size: 18px;
    text-align: center;
    color: white;
    background-color: #1C4EB0;
    padding: 16px 24px;
    width: 100%;
    clip-path: polygon(
        0 0, 
        calc(100% - 12px) 0,   
        100% 12px,              
        100% 100%,              
        12px 100%,              
        0 calc(100% - 12px)   
    );
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

button:disabled {
    background-color: #ddd; 
    color: #888;
    cursor: not-allowed; 
    opacity: 0.6; 
  }

.next:hover{
    background-color: #024389;
}



.confirm-btn {
    background-color: #0053AC;
    color: white;
    border: none;
    cursor: pointer;
    margin: 0 auto;
    padding: 16px 24px;
    width: 100%;
    font-size: 20px;
    clip-path: polygon(
        0 0, 
        calc(100% - 12px) 0,   
        100% 12px,              
        100% 100%,              
        12px 100%,              
        0 calc(100% - 12px)   
    );
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}




/* -------------------------------------結果頁------------------------------------ */

.result{
    position: relative;
    margin-top: 80px;
}

.IMG{
    margin-top: 144px;
    margin-bottom: -8px;
}

.success-block{
    gap: 8px;
}

.success-img{
    width: 64px;
}

.card-header{
    padding: 16px 24px;
    background-color: #ddd;
    text-align: center;
    border-radius: 24px 24px 0px 0px;
}
.card-body{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 40px;
    padding: 0px 40px;
}

.submit-block{
    width: 100%;
    padding: 40px 144px;
    background-color: white;
}

.label-text{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin: 0 auto;
}

.result-text{
    width: 80%;
    text-align: right;
}

.label-text .body3{
    width: 120px;
}

.label-block{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 24px;
    margin-bottom: 40px;
}


.label-text h5{
    width: 80%;
    text-align: right;
    word-break: break-all;
}

.success-block{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.success-text{
    color: #339555;
}

.helptext{
    display: flex;
    flex-direction: column;
    text-align: right;
}

.result-CTA{
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin: 42px 0px 40px 0px;
}

.result-info{
    background-color: white;
    border-radius: 24px;
}
@media (max-width: 1439px) {
    .submit-block{
        padding: 40px 140px;
    }
}



@media (max-width: 767px) {
    .label-text{
        gap: 8px;
    }
    .label-text p{
        width: auto;
        white-space: nowrap;
    }
    
    .helptext h5{
        text-align: right;
    }
    .submit-block{
        padding: 24px 24px;
    }

    .label-block{
        margin-bottom: 24px;
    }
}

/* -------Agreement------- */

.agreement{
    position: relative;
    margin-top: 0;
    margin-top: 80px;
}

.agree-bottom-bg,.result-bottom-bg{
    position: absolute;
    left: 50%;
    bottom: -120px;
    transform: translateX(-50%);
    width: 100%;
    height: 45vw;
}





.agree-content li{
    margin-top: 16px;
}



.agree-top-bg,.result-top-bg{
    position: absolute;
    right: 0;
    top: 0;
    width: 20vw;
}

.agree-compony{
    margin-top: 24px;
}





@media (max-width: 767px) {

    .agreement .Title{
        font-size: clamp(24px, 6vw, 28px);
    }

    .result .Title{
        font-size: clamp(20px, 5vw, 28px);
    }

    .agreement,.result{
        margin-top: 56px;
    }

    .agree-content{
        padding: 24px 16px;
    }

    .agree-bottom-bg,.result-bottom-bg{
        bottom: -64px;
    }

   
    .agree-content li{
        margin-top: 12px;
    }
    
}


/* checkbox */


.indented a{
    color:#1C4EB0 ;
    margin-left: -4px;
}

.agree-check{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 32px;
    margin-bottom: 24px;
    align-items: center;
}

.agree-check .error-message{
    padding-left: 26px;
}

.invalid input {
    border-color: red;
}

.error-message {
    color: red;
    font-size: 16px;
    margin-top: 4px;
}



/*------------ modal--------------- */



  
  
  .agree-content{
    padding: 24px 24px 56px 24px;
    background-color: white;
}

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9); /* 90% opacity black overlay */
    display: none;
    z-index: 999; /* Below the modal */
  }
  
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 600px;
    max-height: 75vh;
    height: auto;
    background: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: none;
    flex-direction: column;
    z-index: 999; 
    clip-path: polygon(
        0 0, 
        calc(100% - 12px) 0,   
        100% 12px,              
        100% 100%,              
        12px 100%,              
        0 calc(100% - 12px)   
    );
  }
  
  .modal-header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #f5f5f5;
    padding: 12px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  
  .modal-header h2 {
    margin: 0;
    font-size: 20px;
    text-align: center;
    width: 100%;
  }
  
  .close-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .modal-content {
    padding: 16px;
    overflow-y: auto;
    min-height: auto;
    max-height: calc(75vh - 100px);
    margin-bottom: 56px;
  }

  .error-content{
    padding: 16px;
    display: flex;
    flex-direction: column;
  }
  
  .modal-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 16px;
    background-color: white;
    text-align: center;
  }
  
  
  .modal-footer button.enabled {
    cursor: pointer;
    opacity: 1;
  }
  
  .hidden {
    display: none;
  }

  #agree-button{
    margin-top: 0;
  }

  .error-icon{
    width: 64px;
    margin: 0 auto;
  }

  .error-content h4{
    font-size: 20px;
    text-align: center;
    padding: 4px 0px 12px 0px;
  }


  .agree-check .check-container {
    display: flex;
    align-items:flex-start;
    gap: 8px;
}

.agree-check .indented {
    display: inline-block;
    text-indent: 0px; /* 控制縮排大小，根據需求調整 */
}

.agree-check .indented a {
    display: inline;
}

input[type="checkbox"] {
    width: 12px;
    height: 12px; /* 確保區域可點擊 */
    transform: scale(1.5);
    margin-top: 7px;
}


@media (max-width: 767px) {
    .agree-content{
        padding: 12px 16px 40px 16px;
    }
}

.input-container #captcha{
    max-width: 80%;
}

.captcha-img {
    display: inline-block; 
    vertical-align: middle; 
}


.captcha-block{
    display: flex;
    gap: 12px;
}

.captcha-btn{
    background-color: white;
    font-size: 16px;
    color: #1C4EB0;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 4px;
}

.captcha-img{
    width: 20%;
    height: 47px;
}

.captcha-lable{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.captcha-lable{
    width: 100%;
    margin-bottom: 8px;
}

.captcha-lable label{
    margin-bottom: 0;
}

.refresh-icon{
    width: 18px;
}